<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <h1>Counter</h1>
  <%=count %>
  <form method='POST' action='/addTwo'>
      <button name='add_2'>Don't Click Me</button>
  </form>
  <form method='POST' action='/reset'>
      <button name='reset' >Click Me For Some Bonus Numbers!</button>
  </form>
</body>
</html>